.subtitle {
  font-size: 11px !important;
  font-style: italic !important;
  line-height: 1.4 !important;
  color: #9da5ae !important;
}
control-title-size {
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #9da5ae;
  max-width: 60%;
}

.oscillating {
  background: repeating-linear-gradient(
    125deg,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05) 1px,
    transparent 2px,
    transparent 9px
  );
  background-color: #00000066 !important;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0) !important;
}

.pulse-button {
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes progressAnimation {
  0% { width: 20%; }
  100% {  }
}

.progress-bar-animation {
  transition: width 1s cubic-bezier(0.5, 0, 0.5, 1), background-color 0.4s ease-in-out;
    animation: progressAnimation 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.hidden {
  opacity: 0.3 !important;
  border: 1px dashed gray !important;
}

.country-code-button {
  padding: 0px !important;
  cursor: pointer;
  background-color: transparent;
  font-size: 0.85rem;
  border-radius: 5px;
  word-break: keep-all;
  border: none;
  text-align: center;
  min-width: 80px;
}

.phone-input-outter:focus-within,
input:focus {
  outline: 1px solid #625CF3; 
}
