.subtitle {
  font-size: 11px !important;
  font-style: italic !important;
  line-height: 1.4 !important;
  color: #9da5ae !important;
}
control-title-size {
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #9da5ae;
  max-width: 60%;
}
